@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');
body {
    background-color: #eee2dc;
}

h1 {
    color: #ac3b61;
    text-decoration: underline dotted;
    font-size: xx-large;
    text-align: center;
}
.steps {
    font-weight:bold;
    font-size: large;
    text-decoration: underline;
}

img {
    border-radius: 10%;
    border:3px dotted #123c69;
}
p {
    font-family: 'Roboto', sans-serif;
    font-size:large ;
}
